
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
.env
# Environment
.env

# Dependencies
node_modules/

# Playwright
test-results/
playwright-report/

# Allure
allure-results/
allure-report/
